#add{
    font-weight: 500;
    font-family: sans-serif;
}
#history{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
    color: rgb(230, 241, 190);
}
body{
    background: url(./images/istockphoto-1182650732-170667a.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
    color: white;
    font-family: sans-serif;
}
h3{
    color: white;
    font-family: cursive;
}
p{
    color: white;
}
u{
    color: white;
    filter: drop-shadow(8px 8px 10px rgb(150, 215, 154));
    position: relative;
}
img{
    border-radius: 10%;
    filter: drop-shadow(8px 8px 9px grey)
}
#pri{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    position: relative;
    left: 60%;
    color: white;
    font-weight: bold;
}
#our{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    color: rgb(230, 241, 190)
}
.images{
    max-width: 900px;
    max-height: fit-content;
    margin: 0 auto;
}
#prin{
    border-radius: 10%;
    position: relative;
    height: fit-content;
    width: 36%;
    left: 5%;
    object-fit: cover;
}
#rak{
    border-radius: 10%;
    position: relative;
    left: 37.5%;
    height: fit-content;
    width: 30%;
}
#mana{
    position: relative;
    left: 14%;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    font-weight: bold;
}
.students{
    max-width: 500px;
    max-height: fit-content;
    margin: 0 auto;
}
#st{
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(230, 241, 190);
}
#stu{
    position: relative;
    height: 100%;
    width: 100%;
    left: 0%;
}
#tri{
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(230, 241, 190);
}
.sports{
    max-width: 500px;
    max-height: fit-content;
    margin: 0 auto;
}
#sport{
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(230, 241, 190);
}
#sp{
    position: relative;
    left: 10%;
    height: 50%;
    width: 80%;
}