#add {
    font-weight: 500;
    font-family: sans-serif;
}

#history {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
    color: rgb(230, 241, 190);
}

body {
    background: url(./images/istockphoto-1182650732-170667a.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    color: white;
    font-family: sans-serif;
}

h2 {
    color: white;
    font-family: cursive;
}

p {
    color: white;
}

u {
    color: white;
    filter: drop-shadow(8px 8px 10px rgb(150, 215, 154));
    position: relative;
}

img {
    border-radius: 10%;
    filter: drop-shadow(8px 8px 9px grey)
}

#our {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    color: rgb(230, 241, 190)
}

.images {
    max-width: fit-content;
    max-height: fit-content;
    margin: 0 auto;
}

#mana {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    font-weight: bold;
    margin-left: 42%;
}

#pri {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    font-weight: bold;
    margin-left: 32%;
}

#student {
    width: 70%;
    margin-left: 15%;
    color: rgb(230, 241, 190);
}

#st {

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    color: rgb(230, 241, 190);
}

#trishul {
    width: 70%;
    margin-left: 15%;
}

#tri {
    color: rgb(230, 241, 190);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
}

#image {
    width: 50%;
}

#sport {
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(230, 241, 190);
}

#sp {
    width: 70%;
    margin-left: 15%;
}

#prin {
    max-width: 500px;
    width: 50%;
    margin-left: 30%;
}

#rak {
    max-width: 500px;
    width: 35%;
    margin-left: 20%;
}